<div class="offset1 span8">
  <h1>Administracao#index</h1>
  <div class="row" style="margin-top: 20px;">
  	<div class="span2 alert alert-block">
  		<%= link_to "Atletas", atletas_path, :class => "btn btn-large" %>
  		<p>Listar, Editar e Adicionar novo atleta.</p>
  	</div>
  	<div class="span2 alert alert-info alert-block">
  		<%= link_to "Árbitros", arbitros_path, :class => "btn btn-large" %>
  		<p>Listar, Editar e Adicionar novo atleta.</p>
  	</div>
  	<div class="span2 alert alert-block">
  		<%= link_to "Técnicos", tecnicos_path, :class => "btn btn-large" %>
  		<p>Listar, Editar e Adicionar novo atleta.</p>
  	</div>
  </div>
</div>