<div class="well alert alert-error">
	<% if resource.errors.any? %>
	  <div id="error_explanation">
	    <h2>
	    	<%= pluralize(resource.errors.count, "erro") %>
	    	<% unless resource.errors.count > 1 %>
	    		aconteceu.
    		<% else %>
	    		aconteceram.	
	    	<% end -%>
	    </h2>

	    <ul>
	    <% resource.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
</div>